.place__paragraph {
  line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    margin-top: 25px;
  }
  .place__paragraph:first-of-type {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}