.header__link-container {
  margin-top: 46px;
  margin-right: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__link-container {
    margin-top: 30px;
    margin-right: 16px;
  }
}