.lead__image {
    margin: auto;
}
@media screen and (min-width: 1280px) {
  .lead__image {
    width: 984px;
    height: 615px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__image {
    width: 768px;
    height: 480px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .lead__image {
    width: 100vw;
    justify-self: center;
  }
}
