.lead__caption {
   font-style: normal;
   font-weight: normal;
   font-size: 10px;
   line-height: 1.4;
   text-transform: uppercase;
   margin: 8px auto 0; 
}
@media screen and (min-width: 768px) and (max-width: 816px) { 
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 16px;
  }
}