.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 8px auto 0;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 768px) and (max-width: 816px) { 
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .lead__caption {
    margin-left: 16px;
    margin-top: 4px;
  }
}